<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ParkinsonAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="background"></div>

<div class="glass-card">

    <h1>🧠 ParkinsonAI</h1>

    <p class="subtitle">
        Please say <b>"AAAAAA..."</b> continuously for <b>3 seconds</b> in a quiet environment.
    </p>

    <button id="recordButton" class="record-btn">
    🎤 Start Recording
    </button>

    <div id="resultCard" class="result-card" style="display:none;">

        <h3>AI Analysis Complete</h3>

        <h1 id="prediction"></h1>

        <div class="confidence-circle">

            <span id="confidence"></span>

        </div>

        <p id="description"></p>

        <button id="againButton">
            Analyze Another Voice
        </button>

    </div>
     
            <div id="loadingCard" class="loading-card" style="display:none;">

            <div class="loader"></div>

            <h2>AI is analyzing your voice...</h2>

            <p>Please wait a few seconds.</p>

    </div>
    

    <div class="features">

        <div class="feature">
            🔒 Secure
        </div>

        <div class="feature">
            ⚡ Fast
        </div>

        <div class="feature">
            🧠 AI Powered
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<footer class="site-footer">
    <p>&copy; 2026 Deiva Lakshmee · Chennai, Tamil Nadu, India</p>
</footer>

</body>
</html>
